* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #44758A;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

nav a {
  margin-top: 1.7em;
  text-decoration: none;
  color: white;
}

.search-button-nav{
  color: #ebc819;
}

.search-button-nav:hover{
  text-decoration: underline;
}

main {
  max-width: 960px;
  padding: 0 1em;
  margin: 0 auto;
  background-color: white;
}

main h2 {
  text-align: center;
}

main > p {
    text-align:justify;
  }

.steps{
  text-align: center;
}

.number{
  height: 4em;
  width: 4em;
  display: inline-block;
  background-color: #ebc819;
  border-radius: 50%;
  line-height: 4em;
  text-align: center;
  color: #44758A;
  font-size: 1.3em;
}

.search-button {
  border: .2em solid #ebc819;
  color: #ebc819;
  width: 100%;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
  padding: 16px 32px;
  font-size: 1.3em;
}

.search-button:hover {
  background-color: #ebc819;
  color: #44758A;;
}

main > img{
  width: 100%;
}

main > form {
  margin-top: 1em;
}

form > * {
  display: block;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  border-radius: 1em;
  border: .2em solid #ccc;
  font-size: 1em;
}

input[type="search"]:focus {
  border-radius: 1em;
  border: .2em solid #44758A;
}

input[type="submit"] {
  border: .2em solid #44758A;
  color: #44758A;
  width: 100%;
  text-decoration: none;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
  padding: 16px 32px;
  font-size: 1.3em;
}

input[type="submit"]:hover {
  background-color: #44758A;
  color: white;
}

.container {
  margin-top: 1em;
}

.radiobuttons > *, .checkbox > * {
  display: block;
}

.rb-container, .cb-container{
  display: block;
  width: 12em;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rb-container input, .cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.cb-container input {
  height: 0;
  width: 0;
}

.checkmark, .cb-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.cb-checkmark {
  top: .5em;
}

.checkmark {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rb-container:hover input ~ .checkmark,
.cb-container:hover input ~ .cb-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rb-container input:checked ~ .checkmark,
.cb-container input:checked ~ .cb-checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after,
.cb-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rb-container input:checked ~ .checkmark:after,
.cb-container input:checked ~ .cb-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rb-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.cb-container .cb-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.recipe {
  border: .1em solid black;
  border-radius: 1em;
  margin: 1.5em auto;
  cursor: pointer;
  width: 70%;
}

.recipe > * {
  text-align: center;
}

.recipe img {
  border-radius: .9em;
  width: 100%;
}

.name {
  font-size: 1.2em;
}

.details {
  font-size: .8em;
}

.icons, .recipe .icons {
  width: 2em;
}

/* tooltip! */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (min-width: 640px){
  .search-button {
    width: 50%;
    margin: 1em auto;
  }
  .container {
    display: flex;
    justify-content: space-around;
  }
  .radiobuttons, .checkbox {
    flex-basis: 30%;
  }
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .recipe {
    width: 45%;
  }
}

@media (min-width: 960px){
  nav {
    padding: 0 5em;
  }
  input[type="submit"], input[type="search"] {
    width: 50%;
  }
  input[type="submit"] {
    margin: 1em auto;
  }
  form h3, .search {
    display: inline;
  }
  form > h3 {
    padding-left: 4em;
  }
  .search {
    margin-left: 1em;
  }
  .recipe {
    width: 25%;
    margin: 1em;
  }
}

@media (min-width:1280px) {
  nav {
    padding: 0 5em;
  }
}
