body {
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  background-color: #E35B5D;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

nav a {
  margin-top: 1.5em;
  text-decoration: none;
}

main {
  padding: 0 1em;
}

main > p {
  text-align:justify;
}

main > img{
  width: 100%;
}

main > form {
  margin-top: 1em;
}

form > * {
  display: block;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  border-radius: 1em;
  border: .2em solid #ccc;
}

input[type="search"]:focus {
  border-radius: 1em;
  border: .2em solid #E35B5D;
}

input[type="submit"] {
  border: .2em solid #E35B5D;
  color: #E35B5D;
  width: 100%;
  text-decoration: none;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
  padding: 16px 32px;
  font-size: 1.3em;
}

input[type="submit"]:hover {
  background-color: #E35B5D;
  color: white;
}

.container {
  margin-top: 1em;
}

.radiobuttons > *, .checkbox > * {
  display: block;
}

.recipe {
  border: .1em solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
}

.recipe > * {
  text-align: center;
}

.recipe img {
  display: block;
  margin: 0 auto;
  border-radius: 20%;
}

/* media queries */
/* @media (min-width: 300px){

} */
